{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}
<div class="container">

    <div class="row">

        <form action="" method="POST" style="width:100%" enctype='multipart/form-data'>
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group"   style="background-color:rgb(255, 255, 255);border-radius:5px; margin-bottom: 1%; padding: 1%;">
                <input type="submit" class="btn btn-primary btn-md" value="Post">
            </div>
            <input type="hidden" name="next" value="{{next}}">
        </form>

    </div>

</div>

{%endblock%}