{%extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="row">
        {%if results%}
        <h3>Found {{results|length}} of searched term {{message}}</h3>
        {%else%}
        <h3>Found 0 results for searched term {{message}}</h3>
        {%endif%}
    </div>

    <div class="row" style="margin-top:3%;background-color:white;">
        {%if results%}
        {%for result in results%}
        <div class="col-sm-12 col-md-12">
            <h1>{{result.business_name}}</h1>
            <img src="{{result.business_image.url}}" alt="Image" class="img-responsive" style="width:100%;">
            <p>{{result.business_service}}</p>
            <p><i>Posted on {{result.created_on}}</i></p>
            <p>Email address: {{result.business_email}}</p>
        </div>
        {%endfor%}
        {%else%}
        <h2 class="text-center bg-warning">Nothing</h2>
        {%endif%}
    </div>
</div>
{%endblock%}